<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <header>
      <div class="title"><a class="titleLink" href="/"><%= title %></a></div>
      <a class="btnLink" href="/new"><button>Add New Message</button></a>
    </header>
  
    <main>
    <div class="gridCont">
      <% messages.forEach((message) => {%> <%- include ('message',
      {message:message.text, user: message.user, date: message.added}); %> <%
      }); %>
    </div>
    </main>

    <footer>

    </footer>
  
  </body>
</html>
