<div class="card">
   <div class="cardMessage">
      <%= message%>
   </div>
   <div class="cardContent">
      <div>
         <div><%= username%></div>  
         <div><%= date %></div>
      </div>
      <a href="/message/<%= index %>"><button class="btnLink">View Message</button></a>
   </div>

</div>