<div class="card">
   <div class="cardMessage">
      <%= message%>
   </div>
   <div class="cardContent">
      <div>
         <div><%= user%></div>  
         <div><%= date %></div>
      </div>
      <button class="btnLink">View Message</button>
   </div>

</div>