<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/new.css" />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <a href="/"><button>See All Messages</button></a>
    </header>
    <body>
      <form method="POST" action="/new">
        <div>
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="username"
            placeholder="Enter name..."
          />
        </div>
        <div>
          <label for="message">Message:</label>
          <textarea
            id="message"
            name="text"
            placeholder="Enter text..."
          ></textarea>
        </div>
        <button type="submit">Submit</button>
      </form>
    </body>
    <footer></footer>
  </body>
</html>
