html{
    margin: 0;
    padding:0 ;
    height: 100%;
    width: 100%;
    font-family: monospace,'Courier New', Courier ;
}
body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 15px;
    margin-left: 90px;
    margin-right: 90px;
}
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}
.title{
    font-size: 24px;
    font-weight: bold;
}
.titleLink:visited{
    color: #000000;
}
a{
    text-decoration: none;
}
.btnLink:visited{
    color: #FFFFFF;
}
button{
    font-family: monospace,'Courier New', Courier ;
    background: #2563EB;
    color: #FFFFFF;
    font-size: 14px;
    width: max-content;
    height: 45px;
    padding: 0px 24px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
button:hover{
    opacity: 0.8;
    transform: scale(1.1);
}
.gridCont{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350,1fr));
    grid-template-rows: 200px;
    grid-auto-rows: 200px;
    grid-gap: 15px;
}
.card {
    background: #F5F5F5;
    padding: 24px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}
.cardMessage {
    font-size: 18px;
    font-weight: bold;
}
.cardContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}
.cardContent>div{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    color: #737373;
}